html {
    background-color: rgb(15, 173, 15);
}
/* Fonts  */

@font-face {
    font-family: 'PTSans';
    src: url('fonts/PTS55F.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'PTSans',Arial, sans-serif;
    font-size: 87%;
    margin: 0;
    padding: 0;
}
.container{
   max-width: 940px;
   margin: 0 auto;
}

.content-area{
    border-top: 3px solid rgb(120, 229, 120);
    border-bottom: 3px solid rgb(120, 229, 120);
    background-color: white;
}
.content-area h1{
    text-align: center;
}
.main-area{
    width: 66%;
    float: left;
    padding-right: 40px;
    /* color:aqua */
    box-sizing: border-box;
}

.sidebar{
    width: 34%;
    float: left;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 85%;
    background-color: rgb(194, 246, 194);
    margin-top: 20px;
    background-image: linear-gradient(to right, rgb(80, 236, 80), aqua);
    background-image: -webkit-linear-gradient(to right, rgb(80, 236, 80), #fff);
    background-image: -moz-linear-gradient(to right, rgb(80, 236, 80), #fff);
    background-image: -ms-linear-gradient(to right, rgb(80, 236, 80), #fff);
    background-image: -o-linear-gradient(to right, rgb(80, 236, 80), #fff);
}


.group:before,
.group:after{
content: "";
display: table;
}
.group:after{
    clear: both;
}


header {
    padding-top: 20px;
    padding-left: 10px;
    margin-top: 15px;
    background-position: bottom center;
    background-repeat: no-repeat;
    color: white;
}
header h1{
    margin: 0;
    font-weight: normal;
    font-size: 165%;

}

header p{
    margin: 0;
}

footer{
    text-align: center;
    font-size: 85%;
    color: #272424;
    padding-bottom: 20px;
    padding-top: 20px;
}


/* Site Navigation  */

.site-nav {
    margin-top: 20px;
}

.site-nav li{
    list-style: none;
    float: left;
    margin-right: 10px;
}

.site-nav ul{
    margin: 0;
    padding: 0;
}

.site-nav a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 20px ;
    border: 3px solid rgb(120, 229, 120);
    border-bottom: none;
}

.site-nav a:hover{
    background-color: rgb(120, 229, 120);
    color: white;
}


@media screen and (max-width:700px){

    .site-nav li{
        width: 33.332%;
        margin-right: 0;
    }
    .site-nav a{
        padding: 15px 0;
        margin-right: 5px ;
        margin-bottom: 5px;
        text-align: center;
    }
}

@media screen and (max-width:480px){

    .site-nav li{
        width: 50%;
    }
   
}

/* End Site Nav  */

.image-banner img{
   background:#545454 url('https://source.unsplash.com/featured/?bird') center center no-repeat ;
   background-size: cover;
    width: 100%;
    height: auto;
}
.image-banner{
    position: relative;

}
.image-banner img{
    display: block;
    height: 500px;
}
.banner-description{
    color: white;
    background-color: rgba(0, 0, 0 ,.65 );
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 20px;
}



/* tables styles  */
table {

    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;

}
table th{
    text-align: left;
    background-color: #869960;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
}

table th, 
table td{
    border: 1px solid #869960;
    padding: 10px;
    vertical-align: top;
}
table tbody tr:nth-child(even) td{
    background-color: #E5E9DC;
}

.col-item-name{
    width: 60%;
}
.col-quantity,
.col-price{
    width: 20%;
}

table tr :nth-child(2),
table tr :nth-child(2){
    text-align: center;
}

/* table style end  */


/* form styles  */

form{
    background-color: #E5E9DC;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
input, select{
    font-family: sans-serif;
    font-size: 100%;
}
.hidden-label{
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
input[type="number"],
select
 {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;
    margin-bottom: 15px;
    border: 1px soild gray;
    outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus{
    border: 1px solid #869960;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .13);
}

input[type="submit"]{
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: #869960;
    color: #fff;
    padding: 10px 0;
    border: 1px solid #798A56;
    border-radius: 3px;
    margin-bottom: 10px;
}
input[type="submit"]:hover,
input[type="submit"]:focus{
    border: 1px solid #545454;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .13);
}

.checkbox-text{
    font-size: 85%;
    color: mediumseagreen;
}

/* form styling end  */


/* CSS Sprites  */
.ui-menu {
    margin-top: 20px;
}
.ui-menu ul {
    margin: 0;
    padding: 0;
}

.ui-menu li {
    float: left;
    list-style: none;
    margin-right: 20px;
}

.ui-menu .ui-home a {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('images/home.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px; 
}

.ui-menu .ui-profile a {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('images/user.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px; 
}

.ui-menu .ui-settings a {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url('images/settings.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px; 
}



/* Media Queries  */
@media screen and (min-width: 1300px){
    .container{
        max-width: 1200px;
    }
    body{
        font-size: 17px;
    }
}

@media screen and (max-width:950px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media screen and (max-width: 700px){
    .main-area,
    .sidebar{
        width: auto;
        float: none;
    }
    .main-area{
        padding: 0 10px;
    }
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 480px){

    .container{
        padding-left: 10px;
        padding-right: 10px;
    }


}

